# Semana de física médica 2017
Redirect 301 /semanafisicamedica https://semanafisicamedica.wixsite.com/2017

# Escola de Inverno FAMB
RedirectMatch 301 /eifamb http://eifambusp.wixsite.com/2018

# Laboratórios
Redirect 301 /inbrain https://inbrainlab.wixsite.com/inbrainlab
Redirect 301 /biomag https://biomaglab.wordpress.com 
Redirect 301 /giimus http://giimus.usp.br
