* {
/*border: 1px solid red;*/
margin:0;
padding:0;
}

/*=========================
Configurações Básicas
======================*/


body {
	
	padding: 0;
	background: #FFFFFF url(../img/img01.gif) repeat-x;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 30px;
/*	color: #333333;*/
	color: #000;
/*	border: 1px solid green;*/
}

.center {
	margin: 0 auto;
}

	h1, h2, h3 {
		margin: 0;
		font-weight: normal;
		color: #3E3E3E;
	}

	h1 {
		font-size: 32px;
	}

	h2 {
		font-size: 23px;
	}
	
	p, ul, ol {
		margin: 0 0 2em 0;
		text-align: justify;
		line-height: 26px;
		font-size: 20px;
	}

	a:link, a:visited  {
		color: #0C3C88;
	}
	
	a:hover, a:active {
		text-decoration: none;
		color: orange;
	}
	
	
	img {
		border: none;
	}

/* ============== 
		Header
================= */

header {
	max-width: 800px;
	margin: 20px auto 0 auto;

	
/*	background: url(../img/img03.gif) repeat-x left bottom; */
}

	header img {
		margin: 0 auto;;
		display: block;
	}
	
	#logo {
		width: 100%;
	}

		#logo h1 {
			text-align: center;
			font-family: 'Play', sans-serif;
			font-size: 38px;
		}
		#logo h2{
				margin: 0 auto;
				text-align: center;
				font-size: 25px;
/*				color: #A0A0A0;*/
				
			}
			
			#logo a {
				text-decoration: none;
			}
			
			#logo h2 a{
				color: #7999C4;	
			}
			
			#logo h1 a{
				color: black;
				/*	Laranjinha daora
				color: #5789C1;
				*/
			}
/* =========================
			 Menu Superior
  ========================= */

	nav {
		margin-top: 10px;
		font-family: 'Play', sans-serif;
		font-weight: bold;
		background: #00567A; /*Azul escuro*/
		padding: 1px;
	}

	#menu {
		margin: 10px auto;
		list-style: none;
		text-align: center;
	}

		#menu li {
			display: inline-block;
			position: relative;
			margin-right: 17px;
			padding: 5px;
		}
		
			#menu li:hover {
				background-color: orange;
			}
			
			#menu a {
				text-decoration: none;
				font-size: 18px;
				color: whitesmoke;
			}
			
			#menu .active {
				border-bottom: 3px solid orange;
			}

			/* ========================
				MENU DROPDOWN
				Afeta os elementos dentro de #menu ul			
			==========================*/
			
			#menu ul {
				background: #00567A ;
				position: absolute;
				top: 35px;
/*				left: 0px;*/
				left: -9999px;
				
			}
			
			#menu ul li {
				float: left;			
			}
			
			#menu ul a{
					border: 0;
	   			white-space:nowrap; /* Stop text wrapping and creating multi-line dropdown items */
				}
							
				#menu li:hover ul {
					left: 0px;
				}



	
/*=====================

	CORPO DO SITE

=====================*/


section {
/*	border: 1px solid red;*/
	margin: 30px auto;
	max-width: 800px;
	min-height: 300px;
}

#construcao {
	display: block;
	margin: 0 auto;
}

/* ======================= 
		Conteudo 
========================*/

.conteudo {
	max-width: 100%;
	padding: 2%;
}

	.conteudo h1 {
		font-weight: bold;
		text-align: center;
		margin-bottom: 20px;
		padding-bottom: 5px;
		background: url(../img/img03.gif) repeat-x left bottom;
	}

	.conteudo h2 {
		font-weight: bold;
		padding-bottom: 3px;
		margin-bottom: 3px;
		border-bottom: 1px solid orange;
	}
			
/* ===============

	Footer 

=================*/


footer {
	
	border-top: 10px solid #D8D8D8;
	padding-top: 50px;
	background-color: #003448;

}

.wrap {
	/*border: 1px solid red;	*/
	width: 70%;
	margin: 0 auto;
	background-color: #003448;
}


.wrap h2 {
	font-family: 'Play', sans-serif;	
	margin-bottom: 15px;
	background: url(../img/img10.gif) repeat-x left bottom;
	font-size: 20px;
	color: orange;
}

.wrap ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.wrap p {
	color: white;
	margin: 0;

}
	.wrap a:link, .wrap a:active, .wrap a:visited  {
		color: white;
		text-decoration: none;
	}

	.wrap a:hover {
		text-decoration: underline;
	}


	#fbox1, #fbox2, #fbox3 {
		width: 20%;		
		float: left;	
	}
	
	#fbox2 {
		padding-left: 5%;
	}
	
	#fbox3 {
		padding-left: 5%;
		width: 50%
	}
		#fbox3 span {
			color: orange;		
		}


#legal {
	clear: both;
	padding-top: 60px;
	padding-bottom: 40px;
	margin: 0 auto;
	text-align: center;
	color: #375C69;
}