/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

* {
/*border: 1px solid red;*/
margin:0;
padding:0;
}

/*=========================
Configurações Básicas
======================*/


body {
	
	padding: 0;
	background: #FFFFFF url(../img/img01.gif) repeat-x;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 30px;
/*	color: #333333;*/
	color: #000;
/*	border: 1px solid green;*/
}

.center {
	margin: 0 auto;
	
}

	h1, h2, h3 {
		margin: 0;
		font-weight: normal;
		color: #3E3E3E;
	}

	h1 {
		font-size: 32px;
	}

	h2 {
		font-size: 23px;
	}
	
	p, ul, ol {
		margin: 0 0 2em 0;
		text-align: justify;
		line-height: 26px;
		font-size: 20px;
	}

	a:link {
		color: #0C3C88;
	}
	
	a:hover, a:active {
		text-decoration: none;
		color: #003448;
	}
	
	a:visited {
		color: gray;
	}
	
	img {
		border: none;
	}

/* ================================== 
	Header
=================================== */

header {
	max-width: 800px; /* para layout fluido: 1200px / 1200px = 1 = 100% */
	margin: 20px auto 0 auto;

	
/*	background: url(../img/img03.gif) repeat-x left bottom; */
}

	header img {
		margin: 0 auto;;
		display: block;
	}
	
	#logo {
		width: 100%;
	}

		#logo h1 {
			text-align: center;
			font-family: 'Play', sans-serif;
			font-size: 38px;
		}
		#logo h1 a{
			color: black;
			/*	Laranjinha daora
			color: #5789C1;
			*/
		}

			#logo h2 {
				margin: 0 auto;
				text-align: center;
				font-size: 25px;
/*				color: #A0A0A0;*/
				color: #7999C4;
			}

			#logo a {
				text-decoration: none;
			}

/* =========================
			 Menu Superior
  ========================= */

	nav {
/*		margin: 0 auto;*/
		font-family: 'Play', sans-serif;
	}

	nav ul {
		
		margin: 10px auto;
		list-style: none;
		text-align: center;
		
		
	}

		nav li {
			display: inline-block;
			
		}
		
		nav ul li:nth-child(1) a {
      	margin-left: 0%; /* Margem à esquerda do 1º elemento da lista tem valor 0 */
      }

			nav a {
				margin-left: 30px;
				text-decoration: none;
				font-size: 22px;
				color: #000;
				padding-bottom: 10px;
			}
		
      
	nav a:hover,nav .active a {

/*		background: url(../img/img02.gif) repeat-x left bottom;*/
		/*border-bottom: 5px solid #0C3C88;*/
		border-bottom: 5px solid orange;
		
	}
	
	nav a:visited, nav a:link {
		color: black;	
	}

	
/*=====================

	CORPO DO SITE

=====================*/


section {
	margin: 50px auto;
	max-width: 800px;
}


/* ======================= 
		Conteudo 
========================*/

.conteudo {
	max-width: 100%;
	padding: 2%;
/*	padding-right: 1%;*/
}

.conteudo h1 {
	text-align: center;
	margin-bottom: 20px;
	padding-bottom: 5px;
	background: url(../img/img03.gif) repeat-x left bottom;
}


/* ====================== 
		Sidebar
========================= */

#sidebar {
	display: none;
	font-family: 'Play', sans-serif;
	font-weight: bold;
	float: left;
	margin-left: 20px;
	width: 16,666666667%; /*Layout fluido: largura inicial: 200px / 1200px =~ 16%*/
}

#sidebar h2 {
	margin-bottom: 10px;
	
/*	background: url(../img/img03.gif) repeat-x left bottom;*/
	font-size: 16px;
	border-bottom: 5px solid #0C3C88;
}
	#sidebar ul {
		margin: 0;
		padding: 0;
	}

		#sidebar li {
			color: #0C3C88;
		}
			#sidebar a:link {
				text-decoration: none;
			}
			
			#sidebar a:visited {
				color: #0C3C88;	
			}
			#sidebar a:hover {
				text-decoration: underline;
				color: orangered;		
			}
/* ===============

	Footer 

=================*/


footer {
	
	border-top: 10px solid #D8D8D8;
	padding-top: 50px;
	background-color: #003448;

}

footer .wrap {
	/*border: 1px solid red;	*/
	width: 70%;
	margin: 0 auto;
	background-color: #003448;
}


.wrap h2 {
	font-family: 'Play', sans-serif;	
	margin-bottom: 15px;
	background: url(../img/img10.gif) repeat-x left bottom;
	font-size: 20px;
	color: orange;
}

.wrap ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

	.wrap a:link, .wrap a:active, .wrap a:visited  {
		color: white;
		text-decoration: none;
	}

	.wrap a:hover {
		text-decoration: underline;
	}


	#fbox1, #fbox2 {
		width: 20%;		
		float: left;	
	}
	
	#fbox2 {
		padding-left: 5%;
	}
	


#legal {
	clear: both;
	padding-top: 60px;
	padding-bottom: 40px;
	margin: 0 auto;
	text-align: center;
	color: #375C69;
}